:root {
  --article-font-family: Georgia, serif;
  --headline-font-family: sans-serif;
  /* a block of code */
  --code-block-font-family: "Lucida Console", Monaco, monospace;
  /* a word in a sentence */
  --code-font-family: monospace;
}