.filter-caption {
  position: absolute;
  color: white;
  line-height: 1.1;
  font-family: monospace;
  font-size: small;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}