.claude/
.DS_Store
.idea/
.jshintrc
.project
.puppeteer_profile/
.vs/
.vscode/

*.swp
npm-debug.log

test/e2e/chromium
test/e2e/output-screenshots
test/treeshake/index.bundle.js
test/treeshake/index.bundle.min.js
test/treeshake/index.webgpu.bundle.js
test/treeshake/index.webgpu.bundle.min.js
test/treeshake/index.webgpu.nodes.bundle.js
test/treeshake/index.webgpu.nodes.bundle.min.js
test/unit/build

**/node_modules
