.well {
	margin-bottom: 0;
}

.center-502 {
	width: 502px;
	margin: 0 auto;
}

label.title {
	padding: 0.25em 0.5em;
	border-bottom: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom-right-radius: 4px;
}

label.title.welled {
	margin-top: -19px;
	margin-left: -19px;
}

#menu-well {
	position: absolute;
	overflow: auto;
	top: 60px;
	bottom: 2%;
	left: 1%;
	right: 85%;
}

#menu-well > ul {
	padding-top: 15px;
}

.nav > li > button {
	padding: 2px;
	margin-bottom: 2px;
}

#viewer-well {
	overflow: auto;

	position: absolute;
	top: 60px;
	/*bottom: 48.5%;*/
	bottom: 2%;
	left: 16%;
	right: 25%;

	margin: 0;
	padding: 0em;
}

#viewer {
	width: 502px;
	height: 502px;
	border: 1px solid #bbb;
}

#snapshot-well {
	display: none;

	overflow: auto;

	position: absolute;
	top: 52.5%;
	bottom: 2%;
	left: 16%;
	right: 25%;

	margin: 0;
	padding: 0em;
}

#snapshot {
	width: 502px;
	height: 502px;
}

#scripting-well {
	overflow: auto;

	position: absolute;
	top: 60px;
	bottom: 2%;
	right: 1%;
	left: 76%;
}

.controls {
	padding-top: 15px;
}