.contextlost {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: red;
  color: white;
  font-family: monospace;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;  
}
.contextlost>div {
  padding: 0.5em;
  background: darkred;
  cursor: pointer;
}