@font-face {
    font-family: 'PureunJeonnam';
    font-style: normal;
    font-weight: 700;
    src: url(resources/fonts/PureunJeonnam-Bold.woff) format('woff'),
         url(resources/fonts/PureunJeonnam-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'PureunJeonnam';
    font-style: normal;
    font-weight: 400;
    src: url(resources/fonts/PureunJeonnam.woff) format('woff'),
         url(resources/fonts/PureunJeonnam.ttf) format('truetype');
}

:root {
    --article-font-family: 'PureunJeonnam', sans-serif;
    --headline-font-family: 'PureunJeonnam', sans-serif;
}