button {
	color: #aaa;
	background-color: #222;
	border: 0px;
	padding: 5px 8px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}

	button:hover {
		color: #ccc;
		background-color: #444;
	}

	button.selected {
		color: #fff;
		background-color: #08f;
	}

input, textarea {
	background-color: #222;
	border: 1px solid transparent;
	color: #888;
}

input.Number {
	color: #08f!important;
	font-size: 12px;
	border: 0px;
	padding: 2px;
	cursor: col-resize;
}

select {
	color: #aaa;
	background-color: #222;
	border: 0px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}

	select:hover {
		color: #ccc;
		background-color: #444;
	}

/* UI */

#viewport {
	position: absolute;
	top: 32px;
	left: 0;
	right: 300px;
	bottom: 0;
}

	#viewport #info {
		text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
		pointer-events: none;
	}

#script {
	position: absolute;
	top: 32px;
	left: 0;
	right: 300px;
	bottom: 0;
	opacity: 0.9;
}

#player {
	position: absolute;
	top: 32px;
	left: 0;
	right: 300px;
	bottom: 0;
}

#menubar {
	position: absolute;
	width: 100%;
	height: 32px;
	background: #111;
	padding: 0;
	margin: 0;
	right: 0;
	top: 0;
}

	#menubar .menu {
		float: left;
		cursor: pointer;
		padding-right: 8px;
	}

	#menubar .menu.right {
		float: right;
		cursor: auto;
		padding-right: 0;
		text-align: right;
	}

		#menubar .menu .title {
			display: inline-block;
			color: #888;
			margin: 0;
			padding: 8px;
			line-height: 16px;
		}

		#menubar .menu .options {
			position: fixed;
			display: none;
			padding: 5px 0;
			background: #111;
			width: 150px;
			max-height: calc(100% - 80px);
			overflow: auto;
		}

		#menubar .menu:hover .options {
			display: block;
		}

			#menubar .menu .options hr {
				border-color: #222;
			}

			#menubar .menu .options .option {
				color: #888;
				background-color: transparent;
				padding: 5px 10px;
				margin: 0 !important;
			}

				#menubar .menu .options .option:hover {
					color: #fff;
					background-color: #08f;
				}

				#menubar .menu .options .option:active {
					background: transparent;
				}

		#menubar .menu .options .inactive {
			color: #444;
			background-color: transparent;
			padding: 5px 10px;
			margin: 0 !important;
		}

#sidebar {
	position: absolute;
	right: 0;
	top: 32px;
	bottom: 0;
	width: 300px;
	background-color: #111;
	overflow: auto;
}

	#sidebar * {
		vertical-align: middle;
	}

	#sidebar .Panel {
		color: #888;
		padding: 10px;
		border-top: 1px solid #222;
	}

	#sidebar .Panel.collapsed {
		margin-bottom: 0;
	}

	#sidebar .Panel.Material canvas {
		border: solid 1px #5A5A5A;
	}

	#sidebar .Row {
		min-height: 20px;
		margin-bottom: 10px;
	}

#tabs {
	background-color: #1b1b1b;
	border-top: 1px solid #222;
}

	#tabs span {
		color: #555;
		border-right: 1px solid #222;
		padding: 10px;
	}

	#tabs span.selected {
		color: #888;
		background-color: #111;
	}

#toolbar {
	position: absolute;
	left: calc(50% - 290px); /* ( ( 100% - 300px ) / 2.0 ) - 140px */
	width: 280px;
	bottom: 16px;
	height: 32px;
	background-color: #111;
	color: #333;
}

	#toolbar * {
		vertical-align: middle;
	}

	#toolbar .Panel {
		padding: 4px;
		color: #888;
	}

	#toolbar button {
		margin-right: 6px;
		line-height: 14px;
		height: 24px;
	}

#cameraSelect {
	position: absolute;
	z-index: 1;
	padding: 10px;
}
	
	#cameraSelect * {
		width: 100%;
	}

	#cameraSelect{
		margin-top: 32px;
		margin-right: 300px;
		right: 0;
		top : 0;
	}

.Outliner {
	color: #888;
	background: #222;
	padding: 0;
	width: 100%;
	height: 140px;
	font-size: 12px;
	cursor: default;
	overflow: auto;
	outline: none;
}

	.Outliner .option {
		padding: 4px;
		white-space: nowrap;
	}

	.Outliner .option:hover {
		background-color: rgba(21,60,94,0.5);
	}


	.Outliner .option.active {
		background-color: rgba(21,60,94,1);
	}
