.FancySelect {
	background: #222;
	border: 1px solid #3C3C3C;
	padding: 0;
	cursor: default;
	overflow: auto;
	outline: none;
}

	.FancySelect .option {
		padding: 4px;
		white-space: nowrap;
	}

	.FancySelect .option.active {
		background-color: #153C5E;
	}

input.Number {
	color: #2A75B7;
	font-size: 12px;							/** TODO: Use of !imporant is not ideal **/
	background-color: transparent!important;	/* For now this is a quick fix a rendering issue due to inherited background */
	border: 1px solid transparent;
	padding: 2px;
	cursor: col-resize;
}

#viewport {
	position: absolute;
	top: 32px;
	left: 0px;
	right: 300px;
	bottom: 32px;
}

	#viewport #info {
		text-shadow: 1px 1px 0px rgba(0,0,0,0.25);
	}

#player {
	position: absolute;
	top: 32px;
	left: 0px;
	right: 300px;
	bottom: 32px;
}

#menubar {
	position: absolute;
	width: 100%;
	height: 32px;
	background: #111;
	padding: 0px;
	margin: 0px;
}

	#menubar .menu {
		float: left;
		cursor: pointer;
		padding-right: 8px;
	}

	#menubar .menu.right {
		float: right;
		cursor: auto;
		text-align: right;
	}

		#menubar .menu .title {
			display: inline-block;
			color: #888;
			margin: 0px;
			padding: 8px;
		}

		#menubar .menu .options {
			position: absolute;
			display: none;
			padding: 5px 0px;
			background: #111;
			width: 140px;
		}

		#menubar .menu:hover .options {
			display: block;
		}

			#menubar .menu .options hr {
				border-color: #444;
			}

			#menubar .menu .options .option {
				color: #666;
				background-color: transparent;
				padding: 5px 10px;
				margin: 0px !important;
			}

				#menubar .menu .options .option:hover {
					color: #fff;
					background-color: #08f;
				}

				#menubar .menu .options .option:active {
					color: #666;
					background: transparent;
				}

#sidebar {
	position: absolute;
	right: 0px;
	top: 32px;
	bottom: 0px;
	width: 300px;
	background-color: #111;
	overflow: auto;
}

	#sidebar input,
	#sidebar textarea,
	#sidebar select {
		background: #ccc;
	}

	#sidebar .Panel {
		margin-bottom: 10px;
	}

	#sidebar .Panel.collapsed {
		margin-bottom: 0px;
	}

	#sidebar > .Panel {
		color: #888;
		padding: 10px;
		border-top: 1px solid #333;
	}

	#sidebar #outliner {
		width: 100%;
		height: 140px;
		color: #868686;
		font-size: 12px;
	}

	#sidebar .Panel.Material canvas {

		border: solid 1px #5A5A5A;

	}

#toolbar {
	position: absolute;
	left: 0px;
	right: 300px;
	bottom: 0px;
	height: 32px;
	background-color: #111;
	color: #333;
}

	#toolbar .Panel {
		padding: 4px;
		color: #888;
	}

	#toolbar button {
		margin-right: 6px;
	}
