hr {
	border: 0;
	border-top: 1px solid #222;
}

button {
	color: #aaa;
	background-color: #222;
}

	button:hover {
		color: #ccc;
		background-color: #444;
	}

	button.selected {
		color: #fff;
		background-color: #08f;
	}

input, textarea {
	background-color: #222;
	color: #888;
}

select {
	color: #aaa;
	background-color: #222;
}

	select:hover {
		color: #ccc;
		background-color: #444;
	}

/* UI */

#menubar {
	background: #111;
}

		#menubar .menu .title {
			color: #888;
		}

		#menubar .menu .options {
			background: #111;
		}

			#menubar .menu .options hr {
				border-color: #222;
			}

			#menubar .menu .options .option {
				color: #888;
				background-color: transparent;
			}

				#menubar .menu .options .option:hover {
					color: #fff;
					background-color: #08f;
				}

				#menubar .menu .options .option:active {
					background: transparent;
				}

		#menubar .menu .options .inactive {
			color: #444;
			background-color: transparent;
		}

#sidebar {
	background-color: #111;
}

	#sidebar .Panel {
		color: #888;
		border-top: 1px solid #222;
	}

	#sidebar .Panel.Material canvas {
		border: solid 1px #5A5A5A;
	}

.tabs {
	background-color: #1b1b1b;
	border-top: 1px solid #222;
}

	.tabs span {
		color: #555;
		border-right: 1px solid #222;
	}

	.tabs span.selected {
		color: #888;
		background-color: #111;
	}

#toolbar {
	background-color: #111;
	color: #333;
}

	#toolbar .Panel {
		color: #888;
	}

.Outliner {
	color: #888;
	background: #222;
}

	.Outliner .option {
		color: #888;
	}

	.Outliner .option:hover {
		background-color: rgba(21,60,94,0.5);
	}


	.Outliner .option.active {
		background-color: rgba(21,60,94,1);
	}
