button {
	color: #555;
	background-color: #ddd;
}

	button:hover {
		background-color: #fff;
	}

	button.selected {
		background-color: #fff;
	}

input, textarea {
	color: #444;
}

select {
	color: #666;
	background-color: #ddd;
}

	select:hover {
		background-color: #fff;
	}

/* UI */

#menubar {
	background: #eee;
}

		#menubar .menu .title {
			color: #888;
		}

		#menubar .menu .options {
			background: #eee;
		}

			#menubar .menu .options hr {
				border-color: #ddd;
			}

			#menubar .menu .options .option {
				color: #666;
				background-color: transparent;
			}

				#menubar .menu .options .option:hover {
					color: #fff;
					background-color: #08f;
				}

				#menubar .menu .options .option:active {
					color: #666;
					background: transparent;
				}

		#menubar .menu .options .inactive {
			color: #bbb;
			background-color: transparent;
		}

#sidebar {
	background-color: #eee;
}

	#sidebar .Panel {
		color: #888;
		border-top: 1px solid #ccc;
	}

.tabs {
	background-color: #ddd;
	border-top: 1px solid #ccc;
}

	.tabs span {
		color: #aaa;
		border-right: 1px solid #ccc;
	}

	.tabs span.selected {
		color: #888;
		background-color: #eee;
	}

#toolbar {
	background: #eee;
	color: #333;
}

	#toolbar .Panel {
		color: #888;
	}

.Outliner {
	color: #444;
	background-color: #fff;
}

	.Outliner .option {
		color: #666;
	}

	.Outliner .option:hover {
		background-color: rgba(0,0,0,0.02);
	}

	.Outliner .option.active {
		background-color: rgba(0,0,0,0.04);
	}
