:root {
	--color-blue: #049EF4;
	--text-color: #444;
	--border-style: 1px solid #EEE;
	--header-height: 48px;
	--panel-padding: 16px;
}

@font-face {
	font-family: 'Roboto Mono';
	src: local('Roboto Mono'), url('../files/RobotoMono-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box; /* don't let padding modify width */
}

html, body {
	height: 100%;
}

body {
	margin: 0px;
	overflow: hidden;
	font-family: 'Roboto Mono', monospace;
	font-size: 14px;
	line-height: 24px;
	background-color: #ffffff;
	color: var(--text-color);
}

a {
	text-decoration: none;
}

h1 {
	font-size: 18px;
	font-weight: 500;
}

h2 {
	padding: 8px 0;
	margin: 6px 0 12px 0;
	font-size: 14px;
	font-weight: normal;
	color: var(--color-blue);
}

h3 {
	margin: 4px 0;
	font-size: 14px;
	line-height: 23px;
	font-weight: 500;
	text-transform: uppercase;
	color: #9E9E9E;
}

h1 a {
	color: var(--color-blue);
}

#header {
	display: flex;
	height: 48px;
	border-bottom: var(--border-style);
	align-items: center;
}
#header h1 {
	margin-left: 15px;
	flex: 1;
}

#panel {
	position: fixed;
	left: 0px;
	width: 300px;
	height: 100%;
	overflow: auto;
	border-right: var(--border-style);
	display: flex;
	flex-direction: column;
	transition: 0s 0s height;
}

	#panel #exitSearchButton {
		position: absolute;
		width: 40px;
		height: 40px;
		top: 4px;
		right: calc(var(--panel-padding) - 12px);
		z-index: 1000;
		display: none;
		background-size: 20px 20px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-image: url(../files/ic_close_black_24dp.svg);
		cursor: pointer;
	}

	#panel.searchFocused #exitSearchButton {
		display: block;
	}

	#panel.searchFocused #language {
		display: none;
	}

	#panel.searchFocused #filter {
		background-image: none;
		padding-left: var(--panel-padding);
	}

	#panel #expandButton {
		margin-right: 14px;
		margin-left: 4px;
		display: none;
	}

	#panel #sections {
		font-weight: 500;
		display: flex;
		justify-content: center;
		z-index: 1000;
		position: relative;
		height: 100%;
		align-items: center;
	}

		#panel #sections * {
			padding: 0 var(--panel-padding);
			height: 100%;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		#panel #sections .selected:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: -1px;
			border-bottom: 1px solid black;
		}
		#panel #sections a {
			color: #9E9E9E;
		}

	#panel #filter {
		width: 100%;
		height: 48px;
		padding: 0px 44px;
		font-weight: 500;
		font-size: 14px;
		color: var(--text-color);
		outline: none;
		border: 0px;
		border-bottom: var(--border-style);
		background-size: 20px 20px;
		background-image: url(../files/ic_search_black_24dp.svg);
		background-position: 14px 50%;
		background-repeat: no-repeat;
	}

	#panel #language {
		font-family: 'Roboto Mono', monospace;
		position: absolute;
		top: 9px;
		right: 8px;
		border: 0px;
		font-size: 14px;
		font-weight: 500;
		background: url(ic_arrow_drop_down_black_24dp.svg) no-repeat;
		background-position: right center;
		background-color: white;
		padding: 4px 24px 4px 8px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

		#panel #language:focus {
			outline: none;
		}

	#contentWrapper {
		flex: 1;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		transform: translate3d(0,0,0);
	}
	#panel #content {
		flex: 1;
		overflow: scroll;
		padding: 0 var(--panel-padding) 24px var(--panel-padding);
	}

		#panel #content ul {
			list-style-type: none;
			padding: 0px;
			margin: 0px 0 24px 0;
		}
		#panel #content ul li {
			margin: 2px 0;
		}

		#panel #content a {
			color: var(--text-color);
		}

		#panel #content a:hover,
		#panel #content .selected {
			color: var(--color-blue);
		}

		#panel #content .selected {
			text-decoration: underline;
		}

		#panel #content .hidden {
			display: none !important;
		}

iframe {
	position: absolute;
	border: 0px;
	left: 300px;
	width: calc(100% - 300px);
	height: 100%;
	overflow: auto;
}

/* mobile */

@media all and ( max-width: 640px ) {
	#panel #expandButton {
		display: block;
	}
	#panel {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		right: 0;
		z-index: 100;
		overflow-x: hidden;
		transition: 0s 0s height;
		border: none;
		height: var(--header-height);
		transition: 0s 0.2s height;
	}
	#panel.open {
		height: 100%;
		transition: 0s 0s height;
	}

	#panelScrim {
		pointer-events: none;
		background-color: rgba(0,0,0,0);
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1000;
		pointer-events: none;
		transition: .2s background-color;
	}
	#panel.open #panelScrim {
		pointer-events: auto;
		background-color: rgba(0,0,0,0.4);
	}

	#contentWrapper {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		background: white;
		box-shadow: 0 0 8px rgba(0,0,0,.1);
		width: calc(100vw - 60px);
		max-width: 360px;
		z-index: 10000;
		transition: .25s transform;
		overflow-x: hidden;
		margin-right: -380px;
	}
	#panel.open #contentWrapper {
		transform: translate3d(-380px, 0 ,0);
	}

	iframe {
		position: absolute;
		left: 0;
		top: var(--header-height);
		width: 100%;
		height: calc(100% - var(--header-height));
	}
}
