@font-face {
	font-family: 'RobotoMono';
	src: local('RobotoMono'), url('../files/RobotoMono-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SF-Pro-Text';
	src: local('SF-Pro-Text'), url('../files/SF-Pro-Text-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 78px auto;
	padding: 0px 24px;
	max-width: 780px;
	color: #555;
	font-family: 'SF-Pro-Text', sans-serif;
	font-size: 16px;
	line-height: 23px;
	tab-size: 4;
	overflow: auto;
}

a {
	color: #1184CE;
	cursor: pointer;
	text-decoration: underline;
}

h1 {
	color: #049EF4;
	font-size: 32px;
	font-weight: normal;
	line-height: 42px;
}

h2 {
	color: #4B0;

	font-size: 22px;
	font-weight: normal;
	line-height: 31px;
}

h3 {
	color: #000;
	font-size: 16px;
	font-weight: normal;

	margin-top: 40px;
}

p, ul, ol {
	margin-top: 0;
	margin-bottom: 20px;
	max-width: 780px;
}

div {
	/* padding-left: 30px; */
	margin-bottom: 20px;
}

.desc {
	padding-left: 0px;
}

pre, code {
	margin-top: 20px;
	margin-bottom: 20px;
}

code {
	display: block;
	padding: 20px;
	white-space: pre-wrap;
	background-color: #f9f9f9;
	overflow: auto;
}

iframe {
	width: 100%;
	height: 420px;
	border:0;
}

th {
	padding: 10px;
	text-decoration: underline;
}

td {
	text-align: center;
}

table code {
	padding: 2px;
	margin: 0px;
	width: auto;
}

strong {
	color: #000;
	font-weight: normal;
}

#button {
	position: fixed;
	bottom: 16px;
	right: 16px;

	padding: 8px;
	border-radius: 50%;
	margin-bottom: 0px; /* TODO div sets it to 20px */

	background-color: #dddddd;
	opacity: 0.4;
}

	#button:hover {
		cursor: pointer;
		opacity: 1;
	}

	#button img {
		display: block;
	}

a.permalink {
	float: right;
	margin-left: 5px;
}

a.param,
span.param {
	color: #999;
}

a.param:hover {
	color: #777;
}

sup, sub {
	/* prevent superscript and subscript elements from affecting line-height */
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}

sub {
	top: 0.4em;
}

/* mobile */

@media all and ( max-width: 640px ) {

	body {
		margin: 14px auto;
		padding: 0px 14px;
		font-size: 14px;
		line-height: 22px;
	}

	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 18px;
		line-height: 25px;
	}
}
