:root {
	--color-blue: #049EF4;
	--text-color: #444;

	--font-size: 14px;
	--line-height: 24px;
	--font-size-sanserif: 1.128rem;
	--line-height-sanserif: 1.74rem;

	--border-style: 1px solid #E8E8E8;
	--header-height: 48px;
	--panel-width: 300px;
	--panel-padding: 1.143rem;
	--page-padding: 1.75rem;
	--max-width: 760px;
	--icon-size: 1.428rem;
}

@font-face {
	font-family: 'Roboto Mono';
	src: local('Roboto Mono'), local('RobotoMono-Regular'), url('../files/RobotoMono-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: local('Inter-Regular'), url("../files/Inter-Regular.woff2?v=3.6") format("woff2");
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: local('Inter-SemiBold'), url("../files/Inter-SemiBold.woff2?v=3.6") format("woff2");
}

html {
	font-family: 'Inter', sans-serif;
	font-size: var(--font-size);
	line-height: var(--line-height);
}

body {
	color: var(--text-color);
	tab-size: 4;
	overflow: auto;
	max-width: var(--max-width);
	margin: 0 auto;
	padding-top: var(--page-padding);
	padding-bottom: var(--page-padding);
	padding-right: var(--page-padding);
	padding-left: calc(var(--page-padding) + var(--panel-width));
}

a {
	color: var(--color-blue);
	cursor: pointer;
	text-decoration: none;
}

h1 {
	color: var(--color-blue);
	font-size: 2.8rem;
	line-height: 3.4rem;
	font-weight: normal;
	margin-top: 1rem;
	margin-bottom: -0.4rem;
	margin-left: -2px;
}

h2 {
	color: var(--color-blue);
	font-size: 2rem;
	line-height: 2.6rem;
	font-weight: normal;
	margin-top: 2rem;
	margin-bottom: -0.4rem;
}

h3 {
	color: var(--color-blue);
	font-size: 1.32rem;
	line-height: 2rem;
	font-weight: normal;
	margin-top: 1.8rem;
	margin-bottom: 1rem;
}

p,
div,
table,
ol,
ul {
	font-size: var(--font-size-sanserif);
	line-height: var(--line-height-sanserif);
	margin-top: .8rem;
	margin-bottom: .8rem;
}

p {
	padding-right: 1rem;
}

ul, ol {
	box-sizing: border-box;
	padding-left: 24px;
}
ul li,
ol li {
	padding-left: 0.25rem;
	margin-bottom: 0.25rem;
}

li ul,
li ol {
	margin-top: 0.25rem;
}

pre,
code {
	margin: 1.2rem calc(-1 * var(--page-padding));
}

ol code,
ul code {
	margin: 1.2rem 0;
}

table {
	width: 100%;
	border-collapse: collapse;
}

.desc {
	padding-left: 0px;
}

table th,
table td {
	text-align: left;
	vertical-align: top;
	padding: .6rem .4rem;
	border-bottom: var(--border-style);
}

table th {
	text-decoration: none;
}
table th:first-child,
table td:first-child {
	padding-left: 0;
}

code {
	display: block;
	padding: 1.25rem var(--page-padding);
	white-space: pre-wrap;
	overflow: auto;
	box-sizing: border-box;
}

iframe {
	width: 100%;
	height: 420px;
	border:0;
}

table code {
	padding: 0px;
	margin: 0px;
	width: auto;
}

strong {
	font-weight: 600;
}


/* TODO: Duplicate styles in main.css. Needed here cause button is inside the iframe */
#button {
	position: fixed;
	bottom: 1rem;
	right: 1rem;

	padding: 0.75rem;
	border-radius: 2rem;
	margin-bottom: 0px;

	background-color: #FFF;
	opacity: .9;
	z-index: 999;

	box-shadow: 0 0 4px rgba(0,0,0,.15);
}
	#button:hover {
		cursor: pointer;
		opacity: 1;
	}
	#button img {
		display: block;
		width: calc(1.125 * var(--icon-size));
	}

a.permalink {
	float: right;
	margin-left: 5px;
	display: none;
}

a.param,
span.param {
	color: #999;
}

a.param:hover {
	color: var(--text-color);
}


@media all and ( min-width: 1700px ) {
	:root {
		--panel-width: 360px;
		--font-size: 18px;
		--line-height: 28px;
		--header-height: 56px;
		--max-width: 1160px;
	}
}

/* mobile */

@media all and ( max-width: 640px ) {
	:root {
		--page-padding: var(--panel-padding);
	}

	body {
		padding: var(--page-padding);
	}

	h1 {
		font-size: 2rem;
		line-height: 2.6rem;
		padding-right: 2rem;
		margin-top: 0;
	}

	h2 {
		font-size: 1.6rem;
		line-height: 2.2rem;
		margin-top: 1.6rem;
	}
}
