:root {
	--color-blue: #049EF4;

	--text-color: #444;
	--border-style: 1px solid #EEE;
	--header-height: 80px;
}

@font-face {
	font-family: 'Roboto Mono';
	src: local('Roboto Mono'), url('../files/RobotoMono-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SF-Pro-Text';
	src: local('SF-Pro-Text'), url('../files/SF-Pro-Text-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

body {
	padding: 20px 24px 40px 24px;
	margin: 0;
	color: var(--text-color);
	font-family: 'SF-Pro-Text', sans-serif;
	font-size: 16px;
	line-height: 24px;
	tab-size: 4;
	overflow: auto;
}

a {
	color: var(--color-blue);
	cursor: pointer;
	text-decoration: none;
}

h1 {
	color: var(--color-blue);
	font-size: 2.4em;
	font-weight: normal;
	line-height: 1.36em;
	margin-top: 16px;
	margin-bottom: -16px;
	text-indent: -2px;
}

h2 {
	color: var(--color-blue);
	font-size: 1.8em;
	line-height: 1.32em;
	font-weight: normal;
	margin-top: 40px;
	margin-bottom: 16px;
	text-indent: -1px;
}

h3 {
	color: #000;
	font-size: 16px;
	font-weight: normal;
	text-indent: -1px;
	margin-top: 40px;
}

p {
	margin-top: 24px;
	margin-bottom: 24px;
}
ul, ol {
	box-sizing: border-box;
	padding-left: 20px;
}
ul li,
ol li {
	padding-left: 4px;
	margin-bottom: 4px;
}

li ul,
li ol {
	margin-top: 4px;
}

body {
	max-width: 760px;
	margin-left: auto;
	margin-right: auto;
}

table,
pre,
code {
	margin-left: -24px;
	margin-right: -24px;
	margin-top: 20px;
	margin-bottom: 20px;
}

h2 + p {
	margin-top: -12px;
}

div {
	margin-bottom: 20px;
}

.desc {
	padding-left: 0px;
}

br {
	display: none;
}

table {
  border-spacing: 24px 4px;
}
table,
table tr,
table td {
	text-align: left;
}

table th {
	text-decoration: none;
	padding: 2px 0;
}

code {
	display: block;
	padding: 20px 24px;
	white-space: pre-wrap;
	overflow: auto;
	box-sizing: border-box;
}

iframe {
	width: 100%;
	height: 420px;
	border:0;
}

th {
	padding: 10px;
	text-decoration: underline;
}

td {
	text-align: center;
}

table code {
	padding: 2px;
	margin: 0px;
	width: auto;
}

strong {
	color: #000;
	font-weight: normal;
}

#button {
	position: fixed;
	bottom: 16px;
	right: 16px;

	padding: 8px;
	border-radius: 50%;
	margin-bottom: 0px; /* TODO div sets it to 20px */

	background-color: #E5E5E5;
	opacity: .9;
}

	#button:hover {
		cursor: pointer;
		opacity: 1;
	}

	#button img {
		display: block;
	}

a.permalink {
	float: right;
	margin-left: 5px;
}

a.param,
span.param {
	color: #999;
}

a.param:hover {
	color: #777;
}

sup, sub {
	/* prevent superscript and subscript elements from affecting line-height */
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}

sub {
	top: 0.4em;
}

/* mobile */

@media all and ( max-width: 640px ) {

	body {
		padding: 16px 20px;
	}

	h1 {
		margin-top: 0;
		font-size: 26px;
	}

	h2 {
		margin-top: 20px;
		font-size: 18px;
		line-height: 25px;
	}
}
