<?js
	var data = obj;
	var self = this;
?>
				<div class="member">
					<h3 class="name" id="<?js= id ?>" translate="no">.<a href="#<?js= id ?>"><?js= name ?></a><?js= (data.signature ? data.signature : '') ?> <?js= data.attribs ?></h3>
					<?js if (data.summary) { ?>
					<p class="summary"><?js= summary ?></p>
					<?js } ?>
					<?js if (data.description) { ?>
					<div class="description">
						<?js= data.description ?>
						<?js if (typeof data.defaultvalue !== 'undefined') { ?>
						<p>Default is <code><?js= self.htmlsafe(data.defaultvalue) ?></code>.</p>
						<?js } ?>
					</div>
					<?js } ?>
					<?js= this.partial('details.tmpl', data) ?>
					<?js if (data.fires && fires.length) { ?>
					<h5>Fires:</h5>
					<ul>
						<?js fires.forEach(function(f) { ?>
						<li><?js= self.linkto(f) ?></li>
						<?js }); ?>
					</ul>
					<?js } ?>
					<?js if (data.examples && examples.length) { ?>
					<h5>Example<?js= examples.length > 1? 's':'' ?></h5>
					<?js= this.partial('examples.tmpl', examples) ?>
					<?js } ?>
				</div>
