<?js
var data = obj;
var self = this;
?>
<div class="member">
    <h4 class="name" id="<?js= id ?>"><?js= data.attribs + name + (data.signature ? data.signature : '') ?>
    <a href="#<?js= id ?>" class="link-anchor">#</a>
    </h4>

    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>

    <?js if (data.description) { ?>
    <div class="description">
        <?js= data.description ?>
    </div>
    <?js } ?>

    <?js= this.partial('details.tmpl', data) ?>

    <?js if (data.fires && fires.length) { ?>
        <h5>Fires:</h5>
        <ul><?js fires.forEach(function(f) { ?>
            <li><?js= self.linkto(f) ?></li>
        <?js }); ?></ul>
    <?js } ?>

    <?js if (data.examples && examples.length) { ?>
        <h5>Example<?js= examples.length > 1? 's':'' ?></h5>
        <?js= this.partial('examples.tmpl', examples) ?>
    <?js } ?>
</div>