<?js
var data = obj;
var self = this;
?>
<?js if (data.kind !== 'module' && !data.hideconstructor) { ?>
    <?js if (data.kind === 'class' && data.classdesc) { ?>
    <h2>Constructor</h2>
    <?js } ?>

    <?js if (data.kind !== 'namespace') { ?>
    <h4 class="name name-method" id="<?js= id ?>"><?js= data.attribs + (kind === 'class' ? 'new ' : '') +
    name + (data.signature || '') ?>
    <a href="#<?js= id ?>" class="link-anchor">#</a>
    </h4>
    <?js } ?>

    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>
<?js } ?>

<div class="method">
    <?js if (data.kind !== 'module' && data.description && !data.hideconstructor) { ?>
    <div class="description">
        <?js= data.description ?>
    </div>
    <?js } ?>

    <?js if (data.augments && data.alias && data.alias.indexOf('module:') === 0) { ?>
        <h5>Extends:</h5>
        <?js= self.partial('augments.tmpl', data) ?>
    <?js } ?>

    <?js if (kind === 'event' && data.type && data.type.names) {?>
        <h5>Type:</h5>
        <ul>
            <li>
                <?js= self.partial('type.tmpl', data.type.names) ?>
            </li>
        </ul>
    <?js } ?>

    <?js if (data['this']) { ?>
        <h5>This:</h5>
        <ul><li><?js= this.linkto(data['this'], data['this']) ?></li></ul>
    <?js } ?>

    <?js if (data.params && params.length && !data.hideconstructor) { ?>
        <h5>Parameters:</h5>
        <?js= this.partial('params.tmpl', params) ?>
    <?js } ?>

    <?js= this.partial('details.tmpl', data) ?>

    <?js if (data.kind !== 'module' && data.requires && data.requires.length) { ?>
    <h5>Requires:</h5>
    <ul><?js data.requires.forEach(function(r) { ?>
        <li><?js= self.linkto(r) ?></li>
    <?js }); ?></ul>
    <?js } ?>

    <?js if (data.fires && fires.length) { ?>
    <h5>Fires:</h5>
    <ul><?js fires.forEach(function(f) { ?>
        <li><?js= self.linkto(f) ?></li>
    <?js }); ?></ul>
    <?js } ?>

    <?js if (data.listens && listens.length) { ?>
    <h5>Listens to Events:</h5>
    <ul><?js listens.forEach(function(f) { ?>
        <li><?js= self.linkto(f) ?></li>
    <?js }); ?></ul>
    <?js } ?>

    <?js if (data.listeners && listeners.length) { ?>
    <h5>Listeners of This Event:</h5>
    <ul><?js listeners.forEach(function(f) { ?>
        <li><?js= self.linkto(f) ?></li>
    <?js }); ?></ul>
    <?js } ?>

    <?js if (data.modifies && modifies.length) {?>
    <h5>Modifies:</h5>
    <?js if (modifies.length > 1) { ?><ul><?js
        modifies.forEach(function(m) { ?>
            <li><?js= self.partial('modifies.tmpl', m) ?></li>
        <?js });
    ?></ul><?js } else {
        modifies.forEach(function(m) { ?>
            <?js= self.partial('modifies.tmpl', m) ?>
        <?js });
    } } ?>

    <?js if (data.exceptions && exceptions.length) { ?>
    <h5>Throws:</h5>
    <?js if (exceptions.length > 1) { ?><ul><?js
        exceptions.forEach(function(r) { ?>
            <li><?js= self.partial('exceptions.tmpl', r) ?></li>
        <?js });
    ?></ul><?js } else {
        exceptions.forEach(function(r) { ?>
            <?js= self.partial('exceptions.tmpl', r) ?>
        <?js });
    } } ?>

    <?js if (data.returns && returns.length) { ?>
    <h5>Returns:</h5>
    <?js if (returns.length > 1) { ?><ul><?js
        returns.forEach(function(r) { ?>
            <li><?js= self.partial('returns.tmpl', r) ?></li>
        <?js });
    ?></ul><?js } else {
        returns.forEach(function(r) { ?>
            <?js= self.partial('returns.tmpl', r) ?>
        <?js });
    } } ?>

    <?js if (data.yields && yields.length) { ?>
    <h5>Yields:</h5>
    <?js if (yields.length > 1) { ?><ul><?js
        yields.forEach(function(r) { ?>
            <li><?js= self.partial('returns.tmpl', r) ?></li>
        <?js });
    ?></ul><?js } else {
        yields.forEach(function(r) { ?>
            <?js= self.partial('returns.tmpl', r) ?>
        <?js });
    } } ?>

</div>